@use 'sass:meta';
@use 'sass:string';
@use 'sass:list';

@mixin hover($property, $value: null, $child: null) {
  $separator: ' ';

  @if $child and string.index($child, ':') == 1 {
    $separator: '';
  }

  @if $child {
    &#{$separator}#{$child} {
      @if meta.type-of($property) == 'map' {
        $transitions: ();

        @each $prop, $val in $property {
          $transitions: list.append($transitions, #{$prop} $my-duration, comma);
        }

        transition: $transitions;
      } @else {
        transition: #{$property} $my-duration;
      }
    }
  } @else {
    @if meta.type-of($property) == 'map' {
      $transitions: ();

      @each $prop, $val in $property {
        $transitions: list.append($transitions, #{$prop} $my-duration, comma);
      }

      transition: $transitions;
    } @else {
      transition: #{$property} $my-duration;
    }
  }

  $sel-hover: '&:hover';
  $sel-active: '&:active';

  @if $child {
    $sel-hover: '&:hover#{$separator}#{$child}';
    $sel-active: '&:active#{$separator}#{$child}';
  }

  @media (hover: hover) {
    #{$sel-hover} {
      @if meta.type-of($property) == 'map' {
        @each $prop, $val in $property {
          #{$prop}: $val;
        }
      } @else {
        #{$property}: $value;
      }
    }
  }

  #{$sel-active} {
    @if meta.type-of($property) == 'map' {
      @each $prop, $val in $property {
        #{$prop}: $val;
      }
    } @else {
      #{$property}: $value;
    }
  }
}

@mixin svg-icon-theme($name, $color, $hover, $duration: $my-duration) {
  &.svg-icon-#{$name} {
    color: $color;
    transition: color $duration ease;

    &:hover,
    &:focus {
      color: $hover;
    }

    path {
      fill: currentColor;
    }
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin grid {
  display: grid;
  align-content: start;
  gap: 0;

  --padding-grid: 20px;
  --column-grid: 130px;
  --gap-grid: 20px;

  grid-template-columns:
    minmax(var(--padding-grid), var(--padding-grid))
    minmax(var(--column-grid), 1fr)
    minmax(var(--gap-grid), var(--gap-grid))
    minmax(var(--column-grid), 1fr)
    minmax(var(--padding-grid), var(--padding-grid));

  @include on-tablet {
    --padding-grid: 39px;
    --gap-grid: 30px;
    --column-grid: 90px;

    grid-template-columns:
      minmax(var(--padding-grid), 1fr)
      repeat(
        5,
        minmax(var(--column-grid), 170px)
          minmax(var(--gap-grid), var(--gap-grid))
      )
      minmax(var(--column-grid), 170px)
      minmax(var(--padding-grid), 1fr);
  }

  @include on-desktop {
    --padding-grid: 55px;
    --gap-grid: 30px;
    --column-grid: 70px;

    grid-template-columns:
      minmax(0, 1fr)
      minmax(var(--padding-grid), var(--padding-grid))
      repeat(
        11,
        minmax(var(--column-grid), var(--column-grid))
          minmax(var(--gap-grid), var(--gap-grid))
      )
      minmax(var(--column-grid), var(--column-grid))
      minmax(var(--padding-grid), var(--padding-grid))
      minmax(0, 1fr);
  }
}

@mixin grid-page {
  display: grid;
  align-content: start;

  --padding-grid-page: 20px;
  --margin-grid-page: 1fr;

  grid-template-columns:
    minmax(0, var(--margin-grid-page))
    minmax(var(--padding-grid-page), var(--padding-grid-page))
    minmax(0, $content-max-width)
    minmax(var(--padding-grid-page), var(--padding-grid-page))
    minmax(0, var(--margin-grid-page));

  @include on-tablet {
    --padding-grid-page: 39px;
  }

  @include on-desktop {
    --padding-grid-page: 55px;

    grid-template-columns:
      minmax(0, var(--margin-grid-page))
      minmax(var(--padding-grid-page), var(--padding-grid-page))
      minmax(0, $content-max-width)
      minmax(var(--padding-grid-page), var(--padding-grid-page))
      minmax(0, var(--margin-grid-page));
  }
}

@mixin grid-content {
  --column-grid: 2;
  --column-gap: 20px;
  --column-size: 1fr;

  display: grid;
  column-gap: var(--column-gap);

  grid-template-columns: repeat(var(--column-grid), var(--column-size));

  @include on-tablet {
    --column-grid: 6;
    --column-gap: 30px;
    --column-size: 90px;

    grid-template-columns: repeat(
      var(--column-grid),
      minmax(var(--column-size), 1fr)
    );
  }

  @include on-desktop {
    --column-grid: 12;
    --column-size: 70px;

    grid-template-columns: repeat(var(--column-grid), var(--column-size));
  }
}

@mixin adaptive-padding($base: null, $tablet: null, $desktop: null) {
  @if $base {
    padding: $base;
  } @else {
    padding: 0 $def-inline-padding;
  }

  @if $tablet {
    @include on-tablet {
      padding: $tablet;
    }
  }

  @if $desktop {
    @include on-desktop {
      padding: $desktop;
    }
  }
}

@mixin background-config(
  $image: none,
  $position: center,
  $repeat: no-repeat,
  $size: cover
) {
  background-image: $image;
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}
