$my-duration: 0.2s;
$white-main: #fff;
$black-main: #000;
$gray: #687480;
$bg-button-1: #1a5a4c;
$bg-button-2: #f14a27;
$bg-menu: #1a5a4c;
$bg-pagination-dots: #e0e0e0;
$font-color-date: #1a5a4c;
$font-color-primary: #0f0e08;
$font-color-secondary: #1a5a4c;
$font-color-subtitle: #687480;
$font-color-button: #687480;
$font-color-text: #4e4e4e;
$content-max-width: 1280px;
$max-column-gap: 30px;
$min-column-gap: 20px;
$def-inline-padding: 20px;
$desktop-min-width: 1280px;
$tablet-min-width: 768px;
