$my-duration: 0.3s;
$page-min-width: 320px;
$white-main: #fff;
$black-main: #000;
$bg-secondary: #0f0e08;
$gray: #687480;
$bg-button-1: #1a5a4c;
$shadow-color-1: rgba(26, 90, 76, 0.25);
$bg-button-2: #f14a27;
$bg-button-3: #d7dde3;
$bg-menu: #1a5a4c;
$bg-pagination-dots: #e0e0e0;
$font-color-date: #1a5a4c;
$font-color-primary: #0f0e08;
$font-color-secondary: #1a5a4c;
$font-color-subtitle: #687480;
$font-color-button: #687480;
$font-color-text: #4e4e4e;
$desktop-min-width: 1280px;
$tablet-min-width: 768px;
$content-max-width: 1170px;
